<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="org.gvsig.app.mainplugin"/>
	<depends plugin-name="org.gvsig.app.document.table.app.mainplugin" />
	<depends plugin-name="org.gvsig.editing.app.mainplugin"/>
	<depends plugin-name="es.icarto.gvsig.commons"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.navtable.NavTableExtension" active="true">
		
			<action 
                name= "navtable"
                label="navtable"
                tooltip="navtable"
                action-command="" 
                icon="es.udc.cartolab.gvsig.navtable.NavTableExtension"
                accelerator=""
            />
			<menu text="Layer/navtable" name="navtable"/> 
            
			<tool-bar name="view_actions">
				<action-tool name="navtable" />
			</tool-bar>
				
		</extension> 
	</extensions>
</plugin-config>
