<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="org.gvsig.app.mainplugin"/>
	<depends plugin-name="org.gvsig.app.document.table.app.mainplugin" />
	<depends plugin-name="org.gvsig.editing.app.mainplugin"/>
	<depends plugin-name="es.icarto.gvsig.commons"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.navtable.NavTableExtension" description="NavTable" active="true">
		
			<action 
                name= "navtable"
                label="navtable"
                tooltip="Navtable"
                action-command="NavTable" 
                icon="navtable"
                position="001009000000"
                accelerator=""
            />
			<menu text="Capa/NavTable" name="navtable"/> 
            
			<tool-bar name="NavTable" position="133">
				<action-tool name="navtable" />
			</tool-bar>
				
		</extension> 
	</extensions>
</plugin-config>
